body{
    margin: 0;

    font-family: 'Sunflower', sans-serif;
    background-color: #E8F8FF;
}
#imgBar{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    transition: 0.5s;
    opacity:0.8;

    font-size: 6em;
    text-shadow: 0px 0px 20px white;
    background-image: url('hos.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    z-index: 10;
}
#imgBar:hover{
    text-shadow: 0px 0px 10px white;
}
#topBar{
    position: fixed;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 0.5s opacity,0.5s box-shadow; 

    background-color: #3399CC;
    color: #E8F8FF;

    z-index: 10;
}
ul{
    list-style: none;
    
    position: relative;
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    width: 80%;
    height: 100%;
}
ul#topList>li.left{
    position: absolute;
    left: 0;

    font-size: 4em;
}
ul#topList>li.right{
    cursor: pointer;
    position: absolute;
    right: 0;

    font-size: 3em;
}
#menuBar{
    position: fixed;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    transition: 0.5s;

    top: 0;
    right: -40%;
    
    height: 100%;
    width: 30%;

    opacity: 0.8;
    font-size: 3em;
    background-color: #67B8DE;
    color: #E8F8FF;
    box-shadow: 0px 0px 40px #416275;
    
    z-index: 20;
}
span.jump{
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}
span.jump:hover{
    text-shadow: 0px 0px 10px white;
    font-size: 1.2em;
}
a{
    text-decoration: none;
    color: #E8F8FF;
}
#ad{
    position: fixed;

    top: 30%;
    left: -380px;
    width: 400px;
    height: 50%;
    max-height: 450px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-left: 50px;
    box-sizing: border-box;
    
    transition: 0.5s;

    opacity: 0;
    background-color: #67B8DE;
    border: 5px solid #3399CC;
    border-radius: 30px;

}
#ad:hover{
    left: -50px;
}

#mainView{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

article{
    width: 90%;
    color: #3399CC;
}
article>h1{
    text-align: center;
    font-size: 4em;
}
article>p{
    font-size: 4em;
}
article>p::before{
    color: #91C9E8;
    content: " ◆ ";
}
article>p>span{
    font-size: 0.5em;
}

#titleBar{
    width: 100%;
    height: max-content;

    text-align: center;
    color: #E4EEF0;
    background-color: #3399CC;
    font-size: 4em;

    z-index: 1;
}

#schoolBar{
    
}

#clubBar{

}
#clubBar>p,#schoolBar>p{
    float:left;
}

#clubBar>img,#schoolBar>img{
    float: right;

    transition: 0.5s;

    width: 30vw;
    border-radius: 20px
}
#clubBar>img:hover,#schoolBar>img:hover{
    transform: rotate(2deg);
}

#languageBar>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#languageBar>div>span.languageCard{
    width: 300px;
    height: 350px;
    margin: 20px;

    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #B4DCED;
    border: 3px solid #91C9E8;
    font-size: 2em;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #B4DCED;
}
#languageBar>div>span.languageCard:hover{
    padding: 20px;
    margin: 10px;

    font-size: 3em;
    background-color: #91C9E8;
}
#languageBar>div>span.languageCard:hover img{
    width: 280px;
    height: 280px;
}
#languageBar>div>span.languageCard>img{
    transition: 0.5s;
    width: 250px;
    height: 250px;
}
footer{
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #3399CC;
    font-size: 1.5em;
    background-color: #B4DCED;
}


@media only screen and (max-width : 900px) {
    ul#topList>li.left{
        position: relative;
        margin: 0 auto;
    }
    ul#topList>li.right{
        display: none;
    }

}