body{
    margin: 0;

    font-family: 'Sunflower', sans-serif;
    background-color: #E8F8FF;
}
#imgBar{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    transition: 0.5s;
    opacity:0.8!important;

    font-size: 6em;
    text-shadow: 0px 0px 20px white;
    background-image: url('hos.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#imgBar:hover{
    text-shadow: 0px 0px 10px white;
}
#topBar{
    position: fixed;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 0.5s opacity,0.5s box-shadow; 

    background-color: #3399CC;
    color: #E8F8FF;

    z-index: 10;
}
ul{
    list-style: none;
    
    position: relative;
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    width: 80%;
    height: 100%;
}
ul#topList>li.left{
    position: absolute;
    left: 0;

    font-size: 4em;
}
ul#topList>li.right{
    cursor: pointer;
    position: absolute;
    right: 0;

    font-size: 3em;
}
#menuBar{
    position: fixed;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    transition: 0.5s;

    top: 0;
    right: -40%;
    
    height: 100%;
    width: 30%;

    opacity: 0.8;
    font-size: 3em;
    background-color: #67B8DE;
    color: #E8F8FF;
    box-shadow: 0px 0px 40px #416275;
    
    z-index: 20;
}
span.jump{
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}
span.jump:hover{
    text-shadow: 0px 0px 10px white;
}

#mainView{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

article{
    width: 90%;
    color: #3399CC;
}
article>h1{
    text-align: center;
    font-size: 4em;
}
article>p{
    font-size: 4em;
}
article>p>span{
    font-size: 0.5em;
}

#titleBar{
    width: 100%;
    height: max-content;

    text-align: center;
    color: #E4EEF0;
    background-color: #3399CC;
    font-size: 4em;
}

#schoolBar{
    
}

#clubBar{

}
#clubBar>p,#schoolBar>p{
    float:left;
}

#clubBar>img,#schoolBar>img{
    float: right;

    transition: 0.5s;

    width: 30vw;
    border-radius: 20px
}
#clubBar>img:hover,#schoolBar>img:hover{
    transform: rotate(2deg);
}



@media only screen and (max-width : 900px) {
    ul#topList>li.left{
        position: relative;
        margin: 0 auto;
    }
    ul#topList>li.right{
        display: none;
    }

}